fastapi
pyjwt
uvicorn[standard]
gunicorn
python-multipart
python-jose
passlib[bcrypt]
boto3
pydantic-settings
python-dotenv
numpy
mysql-connector-python
secure

pytest
pytest-xdist
pytest-cov
httpx
ruff
